input, select, textarea {
  appearance: none;
  width: 100%;
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);
  display: block;
  margin-bottom: .25rem;
}
input:focus, select:focus, textarea:focus {
  outline: .25rem solid var(--surface-secondary);
  border: 1px solid var(--stroke-highlight);
  outline-offset: .1px;
}